<launch> 
   <!-- start node -->
	<node name="adma_can_connect" type="adma_can_connect" pkg="adma_connect" output="screen" args="">
      <param name="path_to_adma_dbc_file" value='/home/ref-f1/Schreibtisch/mobEx/config/CAN-DB/ADMA_CANv3-DBC_v30_1_0_0.dbc' />
         <!--    Format 'mobEx/config/CAN-DB/ADMA_CANv3-DBC_v30_1_0_0.dbc'     -->
      <param name="path_to_sensor_dbc_file" value='/home/ref-f1/Schreibtisch/mobEx/config/CAN-DB/ADMA_CANv3-DBC_v30_1_0_0.dbc' />
         <!--    Format 'mobEx/config/CAN-DB/ADMA_CANv3-DBC_v30_1_0_0.dbc'     -->
      <param name="base_id_adma" value='100' />
         <!--    Format 'socketcan'     -->
   </node>
</launch>
